@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:wght@400;600&family=Rubik:wght@300&display=swap');

main {
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgba(233, 233, 233, 0.944);
    >img {
        width: 20vw;
        height: auto;
        border-radius: 50%;
        margin: 2rem auto;
    }
    >h1 {
        margin-bottom: 0.2rem;
    }
    .description {
        font-size: 1.5rem;
        color: rgb(99, 99, 99);
        margin-bottom: 0.5rem;
    }
}